.pageContainer {
	width: 100%;
	height: 100%;
}

.pageContent {
	margin: 0 auto;
	width: 100%;
	max-width: 100rem;
	padding: 0 2rem 2rem;
}

@media (min-width: 550px) {
	.pageContent {
		padding-top: 5rem;
	}
}
