.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.title {
	width: 100%;
	color: var(--color-text-primary);
	font-size: 5rem;
	text-align: left;
	margin-bottom: 1.2rem;
}

.subtitle {
	width: 100%;
	color: var(--color-text-secondary);
	font-size: 2rem;
	text-align: left;
	margin-bottom: 2rem;
}

@media (min-width: 550px) {
	.container {
		margin-bottom: 3rem;
	}

	.title {
		font-size: 8rem;
	}

	.subtitle {
		font-size: 2.5rem;
	}
}
